openapi: 3.0.0

info:
  version: '3.2'
  title: Regalii API Documentation
  description: |
    # Introduction

    Welcome to the Regalii API! You can use our API documentation to access
    Regalii API endpoints, which can get you information on various billers,
    bills, and transactions.

    ---

    __Language bindings__

    We have language bindings in multiple languages!
    Bullet list:

      * [Ruby](https://github.com/regalii/regaliator).
      * [Java](https://github.com/regalii/regaliator_java)
      * [Node.JS](https://github.com/regalii/regaliator_node)
      * [Python](https://github.com/regalii/regaliator_python)
      * [PHP](https://github.com/regalii/regaliator_php)

    ---

    __Tools for Testing__

    Below is a list of tools that you can use to test different endpoints and
    their responses before you start coding against them. It is recommended that
    you test a couple of endpoints first to get an idea how to properly construct
    requests in your application.

      * [Paw](https://paw.cloud/)
      * [Postman Chrome](https://www.getpostman.com/)

    # Environments

    Separate keys for each environment and `https` protocol must be used


    - __Note:__ For security reasons, the APIx doesn't support the TLS V1.0 anymore, we recommend you to use TLS v1.2 for a better security.

    ---

    __Sandbox__

    Regalii maintains a Sandbox which allows developers to test the API using mocked data.

    ---

    __Billers__

    The list of billers is not in sync with the billers in production.

    ---

    __Credentials__

    The Sandbox accepts any credentials. You can use the following special credentials when you create a Bill to force a certain response.

    - __Note:__ Do not send real credentials to the Sandbox.


      | __Login__ | __Password__ | __Status__   | __Error Code__ |
      | ---                      | ---      | ---      | ---        |
      |email@fetching.ii         | secret   | updating |            |
      |email@mfa_code.ii         | secret   | waiting  |            |
      |email@mfa_question.ii     | secret   | waiting  |            |
      |email@mfa_choice.ii       | secret   | waiting  |            |
      |email@mfa_image.ii        | secret   | waiting  |            |
      |email@mfa_image_choice.ii | secret   | waiting  |            |
      |email@successful.ii       | secret   | updated  |            |
      |email@unavailable.ii      | secret   |          | R122       |
      |email@input.ii            | secret   |          | R121       |
      |email@credentials.ii      | secret   |          | R120       |
      |email@exception.ii        | secret   |          | R121       |
      |email@timeout.ii          | secret   |          | R121       |

    Just the @{state}.ii is the required part, email and password can be anything.

    ---

    __Multi-Factor Question__

    The questions must be answered in up to 30 seconds.

    ---

    __Production__

    Once you complete your integration contact us to receive your production keys
    and endpoint.

    # Authentication

    Regalii uses an api-key and a secret-key for authentication that we generate and will provide to you.

    Regalii expects for the api-key to be included in all API requests to the server
    in the ‘Authorization’ header combined with a checksum which we will described later on:

    __Authorization:__ `APIAuth <your-api-key>:<checksum>`

    - __Note:__ You must replace <your-api-key>:<checksum> with your personal API
    key and the calculated checksum.

    ---

    __Calculating the Checksum__

    - __Note:__ All of our official libraries calculate the checksum automatically.

    __Step 1__

      A checksum string needs to be created first by using your HTTP headers containing the `Content-Type`, `Content-MD5`, `Endpoint` and today’s `Timestamp`.

      The checksum string is computed as follows:

      checksum_string = `content-type`,`content-md5`,`endpoint`,`timestamp`

      - __Note:__ The ‘Endpoint’ is simply the URL you are sending the request to. Keep in mind that
      this value has to be exactly the same as the URL you are trying to reach. For instance, if you
      want to create a new bill by requesting a post to https://apix.casiregalii.com/bills, your
      checksum string should look like this (please also notice the timestamp format).

      `application/json,,/bills,Wed, 10 Jan 2017 16:53:15 GMT`

    __Step 2__

      The checksum string is then used to create the checksum which is a Base64 SHA1 HMAC string
      encoded using your private secret key.

    __Step 3__

      For testing, verify that if you pass “application/json,,/account,Wed, 02 Nov 2016 17:26:52 GMT” to your checksum function and use “verify-secret” as secret key, it should return “nLet/JEZG9CRXHScwaQ/na4vsKQ=”

      Checksum verification [example](https://gist.github.com/dagosi/c2e7db228a9c15e2f5bcdccd7a056183).

      How to create a checksum in [Bash](https://gist.github.com/dagosi/d85979e364af745750a9dff8c8c5a949)

    ---

    __How to use the Checksum__

      Now that you have a checksum, you can add it to your headers using the `Authorization` header as we previously mentioned. As an example, let’s assume that your api-key is `f0253d2a6a76ed12499e7878d7803ffb` and that your checksum is `nLet/JEZG9CRXHScwaQ/na4vsKQ=`. Now, you can add this header to your request.

      -H “Authorization: APIAuth f0253d2a6a76ed12499e7878d7803ffb:nLet/JEZG9CRXHScwaQ/na4vsKQ=”

      You will see that we will use this format in our Authorization header through this documentation.

servers:
  - url: https://apix.casiregalii.com
    description: Sandbox, Mocked Credentials; Mocked Data
  - url: https://apix.regalii.com
    description: Production, Real Credentials; Real Data

tags:
  - name: Authentication
    description: Directions to connect with our API
  - name: Webhooks
    description: Detailed information about our Webhooks
  - name: Common
    description: Common endpoints
  - name: xData
    description: Access to xData documentation
  - name: xPay
    description: Access to xPay documentation
  - name: xChange
    description: Access to xChange documentation
  - name: Error codes
    description: List of the errors codes supported by regalii
paths:
  /account:
    get:
      tags:
        - Common
      summary: Returns the properties of your Regalii account.
      operationId: getAccount
      description: >-
        Returns the properties of your Regalii account. This includes the name of your company,
        the current balance you owe, and the maximum amount of credit allowed to your account
        in the currency specified.

      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  balance:
                    type: number
                  minimum_balance:
                    type: number
                  currency:
                    type: string
                example:
                  name: ACME Company
                  balance: 537.5
                  minimum_balance: -30000
                  currency: USD
  /billers/credentials:
    get:
      tags:
        - Common
      summary: Provides the current list of billers and their associated properties.
      operationId: getBillersCredentials
      description: >-
        To ensure that your customers are able to leverage the enhancements that we
        make over time, you are required to cache the full list of billers and update
        it on a weekly basis.
      parameters:
        - in: header
          name: biller_id
          required: true
          description: The ID of the biller.
          schema:
            type: string
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  balance:
                    type: number
                  minimum_balance:
                    type: number
                  currency:
                    type: string
                example:
                  name: ACME Company
                  balance: 537.5
                  minimum_balance: -30000
                  currency: USD
  /bills:
    post:
      tags:
        - xData
      summary: creates a bill for billers with credentials bill
        identifier
      operationId: createBills
      description: |
        This endpoint creates a bill for billers with credentials bill
        identifier. When you send credentials to create a bill, the bill object
        is created and we then attempt to fetch the bill from the biller. Thus
        no matter what happens (MFA, wrong credentials, biller down, etc), the
        bill object is created. The request may take up to 59 seconds to
        return. If an error or MFA is returned, <update the bill> to resolve the issue.
         You may create multiple, discrete bill objects with identical credentials.
      parameters:
        - in: header
          name: biller_id
          required: true
          description: The ID of the biller.
          schema:
            type: integer
        - in: header
          name: login
          required: true
          description: The account login.
          schema:
            type: string
        - in: header
          name: password
          required: true
          description: The account password
          schema:
            type: string
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  uuid:
                    type: string
                  biller_id:
                    type: integer
                  biller_uuid:
                    type: string
                  account_number:
                    type: string
                  name_on_account:
                    type: string
                  due_date:
                    type: string
                  balance:
                    type: number
                  balance_currency:
                    type: string
                  balance_updated_at:
                    type: string
                  error_code:
                    type: string
                  error_message:
                    type: string
                  status:
                    type: string
                  mfa_challenges:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: integer
                        prompt:
                          type: string
                        expires_at:
                          type: string
                example:
                  type: bill
                  id: 1512
                  uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                  biller_id: 6510
                  biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                  account_number: '4222422244'
                  name_on_account: Jose Bautista
                  due_date: '2016-11-30'
                  balance: 56.43
                  balance_currency: USD
                  balance_updated_at: '2017-01-16T20:12:58Z'
                  error_code: null
                  error_message: null
                  status: updated
                  mfa_challenges: []
    get:
      tags:
        - xData
      summary: This endpoint retrieves all the bills.
      operationId: getBills
      description: |
        This endpoint retrieves all the bills
      parameters:
        - in: query
          name: page
          required: false
          description: 'If set, it allows you to display any page of bills.'
          schema:
            type: integer
        - in: query
          name: 'q[created_at_gteq]'
          schema:
            type: array
            items:
              type: string
          required: false
          description: 'If set, it’ll return results after the specified timestamp.'
        - in: query
          name: 'q[created_at_lteq]'
          required: false
          description: 'If set, it’ll return results before the specified timestamp.'
          schema:
            type: string
            items:
              type: string
        - in: query
          name: 'q[id_in]'
          required: false
          description: 'If set, it’ll return the bills for the specified bill ids.'
          schema:
            type: string
            items:
              type: string
              items:
                type: integer

      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  uuid:
                    type: string
                  biller_id:
                    type: integer
                  biller_uuid:
                    type: string
                  account_number:
                    type: string
                  name_on_account:
                    type: string
                  due_date:
                    type: string
                  balance:
                    type: number
                  balance_currency:
                    type: string
                  balance_updated_at:
                    type: string
                  error_code:
                    type: string
                  error_message:
                    type: string
                  status:
                    type: string
                  migrated_at:
                    type: string
                  mfa_challenges:
                    type: array
                example:
                  bills:
                    - type: bill
                      id: 674124
                      uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                      biller_id: 6510
                      biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                      account_number: 87249256"
                      name_on_account: Rita Sporer
                      due_date: '2017-01-29T05:00:00Z'
                      balance: 62.38
                      balance_currency: USD
                      balance_updated_at: '2017-01-17T19:57:56Z'
                      error_code: null
                      error_message: null
                      status: linked
                      migrated_at: null
                      mfa_challenges: []
                    - type: bill
                      id: 674125
                      uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                      biller_id: 1
                      biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                      account_number: '1234567'
                      name_on_account: Jose Bautista
                      due_date": null
                      balance": 400
                      balance_currency: RD
                      balance_updated_at: '2017-01-17T21:47:19Z'
                      error_code: null
                      error_message: null
                      status: linked
                      migrated_at: null
                      mfa_challenges: []
  /bills/{id}:
    post:
      tags:
        - xData
      summary: retrieves a specific bill’s cached data.
      operationId: getBill
      description: |
        This endpoint retrieves a specific bill’s cached data. To pull fresh
        data from a biller see <refresh bill>.
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  uuid:
                    type: string
                  biller_id:
                    type: integer
                  biller_uuid:
                    type: string
                  account_number:
                    type: string
                  name_on_account:
                    type: string
                  due_date:
                    type: string
                  balance:
                    type: number
                  balance_currency:
                    type: string
                  balance_updated_at:
                    type: string
                  error_code:
                    type: string
                  error_message:
                    type: string
                  status:
                    type: string
                  mfa_challenges:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: integer
                        prompt:
                          type: string
                        expires_at:
                          type: string
                example:
                  type: bill
                  id: 674117
                  uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                  biller_id: 6510
                  biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                  account_number: '4222422244'
                  name_on_account: Jose Bautista
                  due_date: '2016-11-30'
                  balance: 56.43
                  balance_currency: USD
                  balance_updated_at: '2017-01-16T20:12:58Z'
                  error_code: null
                  error_message: null
                  status: linked
                  mfa_challenges: []
    patch:
      tags:
        - xData
      description: his endpoint update the value of.... (to edit)
      operationId: updateBill
      summary: his endpoint update the value of.... (to edit)
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  uuid:
                    type: string
                  biller_id:
                    type: integer
                  biller_uuid:
                    type: string
                  account_number:
                    type: string
                  name_on_account:
                    type: string
                  due_date:
                    type: string
                  balance:
                    type: number
                  balance_currency:
                    type: string
                  balance_updated_at:
                    type: string
                  error_code:
                    type: string
                  error_message:
                    type: string
                  status:
                    type: string
                  mfa_challenges:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: integer
                        prompt:
                          type: string
                        expires_at:
                          type: string
                example:
                  type: bill
                  id: 674117
                  uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                  biller_id: 6510
                  biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                  account_number: '4222422244'
                  name_on_account: Jose Bautista
                  due_date: '2016-11-30'
                  balance: 56.43
                  balance_currency: USD
                  balance_updated_at: '2017-01-16T20:12:58Z'
                  error_code: null
                  error_message: null
                  status: linked
                  mfa_challenges: []
    delete:
      tags:
        - xData
      description: This endpoint deletes a specific bill.
      operationId: deleteBill
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  uuid:
                    type: string
                  biller_id:
                    type: integer
                  biller_uuid:
                    type: string
                  account_number:
                    type: string
                  name_on_account:
                    type: string
                  due_date:
                    type: string
                  balance:
                    type: number
                  balance_currency:
                    type: string
                  balance_updated_at:
                    type: string
                  error_code:
                    type: string
                  error_message:
                    type: string
                  status:
                    type: string
                  mfa_challenges:
                    type: array
                    items:
                      type: object
                example:
                  type: bill
                  id: 674117
                  uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                  biller_id: 6510
                  biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                  account_number: '4222422244'
                  name_on_account: Jose Bautista
                  due_date: '2016-11-30'
                  balance: 56.43
                  balance_currency: USD
                  balance_updated_at: '2017-01-16T20:12:58Z'
                  error_code: null
                  error_message: null
                  status: linked
                  mfa_challenges: []
  /bills/{id}/refresh:
    post:
      tags:
        - xData
      description: >-
        This endpoint refreshes a specific bill by polling the biller. It
        responds with the same structure as <create bill>.
      operationId: refreshBill
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  uuid:
                    type: string
                  biller_id:
                    type: integer
                  biller_uuid:
                    type: string
                  account_number:
                    type: string
                  name_on_account:
                    type: string
                  due_date:
                    type: string
                  balance:
                    type: number
                  balance_currency:
                    type: string
                  balance_updated_at:
                    type: string
                  error_code:
                    type: string
                  error_message:
                    type: string
                  status:
                    type: string
                  mfa_challenges:
                    type: array
                    items:
                      type: object
                example:
                  type: bill
                  id: 674117
                  uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                  biller_id: 6510
                  biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                  account_number: '4222422244'
                  name_on_account: Jose Bautista
                  due_date: '2016-11-30'
                  balance: 56.43
                  balance_currency: USD
                  balance_updated_at: '2017-01-16T20:12:58Z'
                  error_code: null
                  error_message: null
                  status: linked
                  mfa_challenges: []
  /bills/bulk_refresh:
    post:
      tags:
        - xData
      description: >-
        This endpoint receives an array of bill ids as a parameter and refreshes
        them. Updated bills can be eventually pulled by passing id_in to the
        <list bills> endpoint.
      operationId: bulk_refreshBill
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Refresh in progress for 3 bills
  /rpps_billers:
    get:
      tags:
        - xPay
      description: >-
        Get RPPS billers.
      operationId: getRppsBillers
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Refresh in progress for 3 bills
  /transactions:
    post:
      tags:
        - xPay
      description: >-
        Create transaction (Pays a bill).
      operationId: postTransactions
      parameters:
        - in: query
          name: id
          required: true
          description: 'The ID of the bill'
          schema:
            type: integer
        - in: query
          name: amount
          required: true
          description: 'Amount to pay'
          schema:
            type: number
        - in: query
          name: currency
          required: true
          description: 'Amount currency'
          schema:
            type: string
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  amount:
                    type: number
                  amount_currency:
                    type: string
                  fx_rate:
                    type: number
                  amount_usd:
                    type: number
                  transaction_fee:
                    type: number
                  total_usd:
                    type: number
                  hours_to_fulfill:
                    type: integer
                  status:
                    type: string
                example:
                  type: "transaction"
                  id: 59335549
                  amount: 5568.00
                  amount_currency: "MXN"
                  fx_rate: 18.2569
                  amount_usd: 304.98
                  transaction_fee: 3.0
                  total_usd: 307.98
                  hours_to_fulfill: 48
                  status: "fulfilled"
    get:
      tags:
        - xPay
      description: >-
        Returns a list of bill payments that Regalii has processed for you,  in a page of 100 results. You may provide various search criteria, including id and timestamp.
      operationId: getTransactions
      parameters:
        - in: query
          name: page
          required: false
          description: 'If set, it allows you to display any page of bills'
          schema:
            type: integer
        - in: query
          name: 'q[created_at_gteq]'
          required: false
          description: 'If set, it’ll return results after the specified timestamp.'
          schema:
            type: array
            items:
              type: string
        - in: query
          name: 'q[created_at_lteq]'
          required: false
          description: 'If set, it’ll return results before the specified timestamp.'
          schema:
            type: array
            items:
              type: string
        - in: query
          name: 'q[id_eq]'
          required: false
          description: 'Query transactions using the id'
          schema:
            type: array
            items:
              type: integer
        - in: query
          name: 'q[external_id_eq]'
          required: false
          description: 'Query transactions using the external_id you supplied'
          schema:
            type: array
            items:
              type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Refresh in progress for 3 bills
  /migrations:
    post:
      tags:
        - xChange
      description: >-
        This endpoint... to be edited.
      operationId: postMigrations
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Refresh in progress for 3 bills
    get:
      tags:
        - xChange
      description: >-
        This endpoint is used to get all attempted migrations.
      operationId: getMigrations
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Refresh in progress for 3 bills

  /migrations/id:
    get:
      tags:
        - xChange
      description: >-
        Get last migration attempt of a bill
      operationId: getMigration
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Refresh in progress for 3 bills
    patch:
      tags:
        - xChange
      description: >-
        pending to write
      operationId: updateMigration
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Refresh in progress for 3 bills
