openapi: 3.0.0

info:
  version: '3.2'
  title: Regalii API Documentation
  description: |
    # Introduction

    Welcome to the Regalii API! You can use our API documentation to access
    Regalii API endpoints, which can get you information on various billers,
    bills, and transactions.

    ---

    __Tools for Testing__

    Below is a list of tools that you can use to test different endpoints and
    their responses before you start coding against them. It is recommended that
    you test a couple of endpoints first to get an idea how to properly construct
    requests in your application.

      * [Paw](https://paw.cloud/)
      * [Postman Chrome](https://www.getpostman.com/)

    # Environments

    Separate keys for each environment and `https` protocol must be used

    - __Note:__ For security reasons, the APIx doesn't support the TLS V1.0 anymore, we recommend you to use TLS v1.2 for a better security.

    ---

    __Sandbox__

    Regalii maintains a Sandbox which allows developers to test the API using mocked data.

    ---

    __Billers__

    The list of billers is not in sync with the billers in production.

    ---


    Separate keys for each environment and `https` protocol must be used

    - __Note:__ For security reasons, the APIx doesn't support the TLS V1.0 anymore, we recommend you to use TLS v1.2 for a better security.

    ---

    __Sandbox__

    Regalii maintains a Sandbox which allows developers to test the API using mocked data.

    ---

    __Billers__

    The list of billers is not in sync with the billers in production.

    ---

    __Credentials__

    The Sandbox accepts any credentials. You can use the following special credentials when you create a Bill to force a certain response.

    - __Note:__ Do not send real credentials to the Sandbox.

    <table>
       <tr>
        <td><strong>Login</strong></td>
        <td><strong>Password</strong></td>
        <td><strong>Status</strong></td>
        <td><strong>Error Code</strong></td>
      </tr>
       <tr>
        <td>email@fetching.ii</td>
        <td>secret</td>
        <td>updating</td>
        <td></td>
      </tr>
       <tr>
        <td>email@mfa_code.ii</td>
        <td>secret</td>
        <td>waiting</td>
        <td></td>
      </tr>
       <tr>
        <td>email@mfa_question.ii</td>
        <td>secret</td>
        <td>waiting</td>
        <td></td>
      </tr>
      <tr>
        <td>email@mfa_choice.ii</td>
        <td>secret</td>
        <td>waiting</td>
        <td></td>
      </tr>
      <tr>
        <td>email@mfa_image.ii</td>
        <td>secret</td>
        <td>waiting</td>
        <td></td>
      </tr>
       <tr>
        <td>email@mfa_image_choice.ii</td>
        <td>secret</td>
        <td>waiting</td>
        <td></td>
      </tr>
      <tr>
        <td>email@successful.ii</td>
        <td>secret</td>
        <td>updated</td>
        <td></td>
      </tr>
      <tr>
        <td>email@unavailable.ii</td>
        <td>secret</td>
        <td></td>
        <td>R122</td>
      </tr>
      <tr>
        <td>email@input.ii</td>
        <td>secret</td>
        <td></td>
        <td>R121</td>
      </tr>
      <tr>
        <td>email@credentials.ii</td>
        <td>secret</td>
        <td></td>
        <td>R120</td>
      </tr>
      <tr>
        <td>email@exception.ii</td>
        <td>secret</td>
        <td></td>
        <td>R121</td>
      </tr>
       <tr>
        <td>email@timeout.ii</td>
        <td>secret</td>
        <td></td>
        <td>R121</td>
      </tr>
    </table>


    Just the @{state}.ii is the required part, email and password can be anything.

    ---

    __Multi-Factor Question__

    The questions must be answered in up to 30 seconds.

    ---

    __Production__

    Once you complete your integration contact us to receive your production keys
    and endpoint.

    # Authentication

    Regalii uses an api-key and a secret-key for authentication that we generate and will provide to you.

    Regalii expects for the api-key to be included in all API requests to the server
    in the ‘Authorization’ header combined with a checksum which we will described later on:

    __Authorization:__ `APIAuth <your-api-key>:<checksum>`

    - __Note:__ You must replace <your-api-key>:<checksum> with your personal API
    key and the calculated checksum.

    ---

    __Calculating the Checksum__

    - __Note:__ All of our official libraries calculate the checksum automatically.

    __Step 1__

      A checksum string needs to be created first by using your HTTP headers containing the `Content-Type`, `Content-MD5`, `Endpoint` and today’s `Timestamp`.

      The checksum string is computed as follows:

      checksum_string = `content-type`,`content-md5`,`endpoint`,`timestamp`

      - __Note:__ The ‘Endpoint’ is simply the URL you are sending the request to. Keep in mind that
      this value has to be exactly the same as the URL you are trying to reach. For instance, if you
      want to create a new bill by requesting a post to https://apix.casiregalii.com/bills, your
      checksum string should look like this (please also notice the timestamp format).

      `application/json,,/bills,Wed, 10 Jan 2017 16:53:15 GMT`

    __Step 2__

      The checksum string is then used to create the checksum which is a Base64 SHA1 HMAC string
      encoded using your private secret key.

    __Step 3__

      For testing, verify that if you pass “application/json,,/account,Wed, 02 Nov 2016 17:26:52 GMT” to your checksum function and use “verify-secret” as secret key, it should return “nLet/JEZG9CRXHScwaQ/na4vsKQ=”

      Checksum verification [example](https://gist.github.com/dagosi/c2e7db228a9c15e2f5bcdccd7a056183).

      How to create a checksum in [Bash](https://gist.github.com/dagosi/d85979e364af745750a9dff8c8c5a949)

    ---

    __How to use the Checksum__

      Now that you have a checksum, you can add it to your headers using the `Authorization` header as we previously mentioned. As an example, let’s assume that your api-key is `f0253d2a6a76ed12499e7878d7803ffb` and that your checksum is `nLet/JEZG9CRXHScwaQ/na4vsKQ=`. Now, you can add this header to your request.

      `-H Authorization: APIAuth f0253d2a6a76ed12499e7878d7803ffb:nLet/JEZG9CRXHScwaQ/na4vsKQ=`

      You will see that we will use this format in our Authorization header through this documentation.

servers:
  - url: https://apix.casiregalii.com
    description: Sandbox, Mocked Credentials; Mocked Data
  - url: https://apix.regalii.com
    description: Production, Real Credentials; Real Data

tags:
  - name: Webhooks
    description: Detailed information about our Webhooks
  - name: Common
    description: Common endpoints
  - name: xData
    description: Access to xData documentation
  - name: xPay
    description: Access to xPay documentation
  - name: xChange
    description: Access to xChange documentation

paths:

  /account:
    get:
      tags:
        - Common
      summary: Returns the properties of your Regalii account.
      operationId: getAccount
      description: >-
        Returns the properties of your Regalii account. This includes the name of your company,
        the current balance you owe, and the maximum amount of credit allowed to your account
        in the currency specified.

      parameters:
        - $ref: '#/components/parameters/DateParam'

        - $ref: '#/components/parameters/ContentMD5Param'

      responses:
        '200':
          description: successful response
          content:
            application/vnd.regalii.v3.2+json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  balance:
                    type: number
                  minimum_balance:
                    type: number
                  currency:
                    type: string
                example:
                  name: ACME Company
                  balance: 537.5
                  minimum_balance: -30000
                  currency: USD
  /billers:
    get:
      tags:
        - Common
      summary: Provides the current list of billers and their associated properties.
      operationId: getBillersCredentials
      description: >-
        Provides the current list of billers and their associated properties.
        To ensure that your customers are able to leverage the enhancements that we make
        over time, you are required to cache the full list of billers and update it on a weekly basis.
      parameters:
        - in: path
          name: page
          required: true
          description: Page index for returned information.
          schema:
            type: integer

        - $ref: '#/components/parameters/DateParam'

        - $ref: '#/components/parameters/ContentMD5Param'

      responses:
        '200':
          description: successful response
          content:
            application/vnd.regalii.v3.2+json:
              schema:
                type: array
                title: "billers"
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  uuid:
                    type: string
                  name:
                    type: string
                  country:
                    type: string
                  currency:
                    type: string
                  biller_type:
                    type: string
                  bill_type:
                    type: string
                  required_parameters:
                    type: array
                    items:
                      type: string
                  returned_parameters:
                    type: array
                    items:
                      type: string
                  can_migrate:
                    type: boolean
                  charge_user:
                    type: boolean
                  has_xdata:
                    type: boolean
                example:
                  type: "biller"
                  id: 6510
                  uuid: "3bc572a9-cb55-4aea-80aa-40b058d26673"
                  name: "Con Edison"
                  country: "US"
                  currency: "USD"
                  biller_type: "Electricity"
                  bill_type: "credentials"
                  required_parameters: ["login","password"]
                  returned_parameters: ["balance","due_date","account_number","name_on_account","xdata"]
                  can_migrate: false
                  charge_user: true
                  has_xdata: false
  /bills:
    post:
      tags:
        - xData
      summary: creates a bill for billers with credentials bill
        identifier
      operationId: createBills
      description: |
        This endpoint creates a bill for billers with credentials bill identifier. When you send credentials to create a bill, the bill object is created and we then attempt to fetch the bill from the biller. Thus no matter what happens (MFA, wrong credentials, biller down, etc), the bill object is created. The request may take up to 59 seconds to return. If an error or MFA is returned, update the bill to resolve the issue.

      requestBody:
        description: Within the request body the parameters sent are a biller_id, login and password
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                biller_id:
                  type: integer
                  description: The ID of the biller.
                login:
                  type: string
                  description: The account login.
                password:
                  type: string
                  description: The account password
              required:
                - biller_id
                - login
                - password
      parameters:
        - $ref: '#/components/parameters/DateParam'

        - $ref: '#/components/parameters/ContentMD5Param'
      responses:
        '200':
          description: successful response
          content:
            application/vnd.regalii.v3.2+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  uuid:
                    type: string
                  biller_id:
                    type: integer
                  biller_uuid:
                    type: string
                  account_number:
                    type: string
                  name_on_account:
                    type: string
                  due_date:
                    type: string
                  balance:
                    type: number
                  balance_currency:
                    type: string
                  balance_updated_at:
                    type: string
                  error_code:
                    type: string
                  error_message:
                    type: string
                  status:
                    type: string
                  mfa_challenges:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: integer
                        prompt:
                          type: string
                        expires_at:
                          type: string
                example:
                  type: bill
                  id: 1512
                  uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                  biller_id: 6510
                  biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                  account_number: '4222422244'
                  name_on_account: Jose Bautista
                  due_date: '2016-11-30'
                  balance: 56.43
                  balance_currency: USD
                  balance_updated_at: '2017-01-16T20:12:58Z'
                  error_code: null
                  error_message: null
                  status: updated
                  mfa_challenges: []
    get:
      tags:
        - xData
      summary: This endpoint retrieves all the bills.
      operationId: getBills
      description: |
        This endpoint retrieves all the bills
      parameters:
        - in: query
          name: page
          required: false
          description: 'If set, it allows you to display any page of bills.'
          schema:
            type: integer

        - in: query
          name: 'q[created_at_gteq]'
          schema:
            type: array
            items:
              type: string
          required: false
          description: 'If set, it’ll return results after the specified timestamp.'

        - in: query
          name: 'q[created_at_lteq]'
          required: false
          description: 'If set, it’ll return results before the specified timestamp.'
          schema:
            type: string
            items:
              type: string

        - in: query
          name: 'q[id_in]'
          required: false
          description: 'If set, it’ll return the bills for the specified bill ids.'
          schema:
            type: string
            items:
              type: string
              items:
                type: integer

        - $ref: '#/components/parameters/DateParam'

        - $ref: '#/components/parameters/ContentMD5Param'

      responses:
        '200':
          description: successful response
          content:
            application/vnd.regalii.v3.2+json:
              schema:
                type: array
                items:
                  type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  uuid:
                    type: string
                  biller_id:
                    type: integer
                  biller_uuid:
                    type: string
                  account_number:
                    type: string
                  name_on_account:
                    type: string
                  due_date:
                    type: string
                  balance:
                    type: number
                  balance_currency:
                    type: string
                  balance_updated_at:
                    type: string
                  error_code:
                    type: string
                  error_message:
                    type: string
                  status:
                    type: string
                  migrated_at:
                    type: string
                  mfa_challenges:
                    type: array
                example:
                  bills:
                    - type: bill
                      id: 674124
                      uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                      biller_id: 6510
                      biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                      account_number: 87249256"
                      name_on_account: Rita Sporer
                      due_date: '2017-01-29T05:00:00Z'
                      balance: 62.38
                      balance_currency: USD
                      balance_updated_at: '2017-01-17T19:57:56Z'
                      error_code: null
                      error_message: null
                      status: linked
                      migrated_at: null
                      mfa_challenges: []
                    - type: bill
                      id: 674125
                      uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                      biller_id: 1
                      biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                      account_number: '1234567'
                      name_on_account: Jose Bautista
                      due_date": null
                      balance": 400
                      balance_currency: RD
                      balance_updated_at: '2017-01-17T21:47:19Z'
                      error_code: null
                      error_message: null
                      status: linked
                      migrated_at: null
                      mfa_challenges: []
  /bills/{id}:
    post:
      tags:
        - xData
      summary: retrieves a specific bill’s cached data.
      operationId: getBill
      description: |
        This endpoint retrieves a specific bill’s cached data. To pull fresh
        data from a biller see <refresh bill>.
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer

        - $ref: '#/components/parameters/DateParam'

        - $ref: '#/components/parameters/ContentMD5Param'

      responses:
        '200':
          description: successful response
          content:
            application/vnd.regalii.v3.2+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  uuid:
                    type: string
                  biller_id:
                    type: integer
                  biller_uuid:
                    type: string
                  account_number:
                    type: string
                  name_on_account:
                    type: string
                  due_date:
                    type: string
                  balance:
                    type: number
                  balance_currency:
                    type: string
                  balance_updated_at:
                    type: string
                  error_code:
                    type: string
                  error_message:
                    type: string
                  status:
                    type: string
                  mfa_challenges:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: integer
                        prompt:
                          type: string
                        expires_at:
                          type: string
                example:
                  type: bill
                  id: 674117
                  uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                  biller_id: 6510
                  biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                  account_number: '4222422244'
                  name_on_account: Jose Bautista
                  due_date: '2016-11-30'
                  balance: 56.43
                  balance_currency: USD
                  balance_updated_at: '2017-01-16T20:12:58Z'
                  error_code: null
                  error_message: null
                  status: linked
                  mfa_challenges: []
    patch:
      tags:
        - xData
      description: his endpoint update the value of.... (to edit)
      operationId: updateBill
      summary: his endpoint update the value of.... (to edit)
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer

        - $ref: '#/components/parameters/DateParam'

        - $ref: '#/components/parameters/ContentMD5Param'

      responses:
        '200':
          description: successful response
          content:
            application/vnd.regalii.v3.2+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  uuid:
                    type: string
                  biller_id:
                    type: integer
                  biller_uuid:
                    type: string
                  account_number:
                    type: string
                  name_on_account:
                    type: string
                  due_date:
                    type: string
                  balance:
                    type: number
                  balance_currency:
                    type: string
                  balance_updated_at:
                    type: string
                  error_code:
                    type: string
                  error_message:
                    type: string
                  status:
                    type: string
                  mfa_challenges:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: integer
                        prompt:
                          type: string
                        expires_at:
                          type: string
                example:
                  type: bill
                  id: 674117
                  uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                  biller_id: 6510
                  biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                  account_number: '4222422244'
                  name_on_account: Jose Bautista
                  due_date: '2016-11-30'
                  balance: 56.43
                  balance_currency: USD
                  balance_updated_at: '2017-01-16T20:12:58Z'
                  error_code: null
                  error_message: null
                  status: linked
                  mfa_challenges: []
    delete:
      tags:
        - xData
      description: This endpoint deletes a specific bill.
      operationId: deleteBill
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer

        - $ref: '#/components/parameters/DateParam'

        - $ref: '#/components/parameters/ContentMD5Param'

      responses:
        '200':
          description: successful response
          content:
            application/vnd.regalii.v3.2+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  uuid:
                    type: string
                  biller_id:
                    type: integer
                  biller_uuid:
                    type: string
                  account_number:
                    type: string
                  name_on_account:
                    type: string
                  due_date:
                    type: string
                  balance:
                    type: number
                  balance_currency:
                    type: string
                  balance_updated_at:
                    type: string
                  error_code:
                    type: string
                  error_message:
                    type: string
                  status:
                    type: string
                  mfa_challenges:
                    type: array
                    items:
                      type: object
                example:
                  type: bill
                  id: 674117
                  uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                  biller_id: 6510
                  biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                  account_number: '4222422244'
                  name_on_account: Jose Bautista
                  due_date: '2016-11-30'
                  balance: 56.43
                  balance_currency: USD
                  balance_updated_at: '2017-01-16T20:12:58Z'
                  error_code: null
                  error_message: null
                  status: linked
                  mfa_challenges: []
  /bills/{id}/refresh:
    post:
      tags:
        - xData
      description: >-
        This endpoint refreshes a specific bill by polling the biller. It
        responds with the same structure as <create bill>.
      operationId: refreshBill
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer

        - $ref: '#/components/parameters/DateParam'

        - $ref: '#/components/parameters/ContentMD5Param'

      responses:
        '200':
          description: successful response
          content:
            application/vnd.regalii.v3.2+json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  uuid:
                    type: string
                  biller_id:
                    type: integer
                  biller_uuid:
                    type: string
                  account_number:
                    type: string
                  name_on_account:
                    type: string
                  due_date:
                    type: string
                  balance:
                    type: number
                  balance_currency:
                    type: string
                  balance_updated_at:
                    type: string
                  error_code:
                    type: string
                  error_message:
                    type: string
                  status:
                    type: string
                  migrated_at:
                    description: The date time of migration.
                    type: string
                  mfa_challenges:
                    type: array
                    items:
                      type: object
                example:
                  type: bill
                  id: 674117
                  uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                  biller_id: 6510
                  biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                  account_number: '4222422244'
                  name_on_account: Jose Bautista
                  due_date: '2016-11-30'
                  balance: 56.43
                  balance_currency: USD
                  balance_updated_at: '2017-01-16T20:12:58Z'
                  error_code: null
                  error_message: null
                  status: updating
                  mfa_challenges: []
                  migrated_at: null
  /bills/bulk_refresh:
    post:
      tags:
        - xData
      description: >-
        This endpoint receives an array of bill ids as a parameter and refreshes
        them. Updated bills can be eventually pulled by passing id_in to the
        <list bills> endpoint.
      operationId: bulk_refreshBill

      parameters:
        - $ref: '#/components/parameters/DateParam'

        - $ref: '#/components/parameters/ContentMD5Param'

      requestBody:
        description: Within the request body the parameters sent are a biller_id, login and password
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bill_ids:
                  type: array
                  description: Array of bill ids.
                  items:
                    type: string
              required:
                - bill_ids

      responses:
        '200':
          description: successful response
          content:
            application/vnd.regalii.v3.2+json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Refresh in progress for 3 bills
  /rpps_billers:
    get:
      tags:
        - xPay
      description: |
        This endpoint provides the list of RPPS billers
      operationId: getRppsBillers
      parameters:
        - $ref: '#/components/parameters/DateParam'

        - $ref: '#/components/parameters/ContentMD5Param'

        - name: q[biller_type_eq]
          in: query
          required: false
          description: Only returns rpps billers of that biller type
          schema:
            type: string
        - name: q[name_eq]
          in: query
          required: false
          description: Only returns rpps billers of that biller name
          schema:
            type: string
        - name: q[country_eq]
          in: query
          required: false
          description: Only returns rpps billers of that country
          schema:
            type: string
      responses:
        '200':
          description: successful response
          content:
            application/vnd.regalii.v3.2+json:
              schema:
                type: object
                properties:
                  id:
                    description: Id of the rpps biller
                    type: integer
                  name:
                    description: name of the rpps biller
                    type: integer
                  biller_type:
                    description: the type of biller
                    type: string
                  biller_class:
                    description: the biller class belongs
                    type: string
                  country:
                    description: the country that the rpps biller belongs
                    type: string
                  state:
                    description: the state that the rpps biller belongs
                    type: string
                  territory_code:
                    description: the territory code that the rpps biller belongs
                    type: string
                  currency:
                    description: the currency supported by the rpps biller
                    type: string
                  address:
                    description: the address of the rpps biller
                    type: array
                  masks:
                    description: the masks of the rpps biller
                    type: array
                example:
                  rpps_billers:
                    - id: 692b45ea-7369-4232-bdd6-2bd662fe1ebd
                      name: 1000 Granville Homeowners Association
                      biller_type: Core
                      biller_class: Homeowners Association
                      country: USA
                      state: null
                      territory_code: National
                      currency: USD
                      addresses:
                        - city: San Francisco
                          state: CA
                          country: USA
                          address1: PO Box 45463
                          address2: null
                          eff_date: '2010-07-26'
                          external_id: '67942'
                          postal_code: 94145-0463
                          address_type: Standard
                      masks:
                        - length: '7'
                          eff_date: '2010-07-20'
                          exception: false
                          external_id: '343033'
                          mask_format: '####-##'
                          descriptions: []
                        - length: '8'
                          eff_date: '2010-07-20'
                          exception: false
                          external_id: '343034'
                          mask_format: '####-###'
                          descriptions: []
                        - length: '4'
                          eff_date: '2010-07-20'
                          exception: false
                          external_id: '343035'
                          mask_format: '####'
                          descriptions: []
                        - length: '3'
                          eff_date: '2010-07-20'
                          exception: false
                          external_id: '343036'
                          mask_format: '###'
                          descriptions: []
                        - length: '7'
                          eff_date: '2010-07-20'
                          exception: false
                          external_id: '343037'
                          mask_format: '###-###'
                          descriptions: []
                        - length: '8'
                          eff_date: '2010-07-20'
                          exception: false
                          external_id: '343038'
                          mask_format: '###-###@'
                          descriptions: []

  /transactions:
    post:
      tags:
        - xPay
      description: |
        With this endpoint you can create a new transaction by passing an RPPS Biller ID and information
        about the payment and the person (client) who is making the payment (see parameters below).

        Once the transactions are created in Regalii’s system, it takes 2-3 days to process the
        transaction. After that time, the transaction’s status will be updated. You can always check the
        transaction status by making a request to the Get transaction endpoint.
      operationId: postTransactions

      parameters:
        - $ref: '#/components/parameters/DateParam'

        - $ref: '#/components/parameters/ContentMD5Param'

      requestBody:
        description: Within the request body the parameters sent are an `account_number`, `amount`, `currency`, `rpps_biller_id`, `phone_number`, `client_number`, `payer_born_on`, `first_name`, `last_name`.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_number:
                  type: integer
                  description: Account number where the payment is directed to
                amount:
                  type: string
                  description: Amount to pay
                currency:
                  type: string
                  description: Amount currency
                rpps_biller_id:
                  type: string
                  description: RPPS Biller identifier
                phone_number:
                  type: string
                  description: Phone number of the person who makes the payment
                client_number:
                  type: string
                  description: Client number of the person who makes the payment
                payer_born_on:
                  type: string
                  description: Date of birth of the payer of the transaction
                first_name:
                  type: string
                  description: First name of the person who makes the payment
                last_name:
                  type: string
                  description: Last name of the person who makes the payment
                address:
                  type: object
                  description: Address of the person who makes the payment. This parameter should be a hash that contains the `street`, `zip_code`, `city` and `state`
              required:
                - account_number
                - amount
                - currency
                - rpps_biller_id
                - phone_number
                - client_number
                - payer_born_on
                - first_name
                - last_name
      responses:
        '200':
          description: successful response
          content:
            application/vnd.regalii.v3.2+json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  status:
                    type: string
                  bill_id:
                    type: string
                  account_number:
                    type: string
                  currency:
                    type: string
                  amount:
                    type: number
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  error_code:
                    type: string
                  error_message:
                    type: string
                example:
                  id: be42c413-fcce-4857-b6fa-374228e33912
                  status: initialized
                  bill_id: null
                  account_number: 1234-56
                  currency: USD
                  amount: 2000.0
                  created_at: 2018-04-06T15:41:52.846Z
                  updated_at: 2018-04-06T15:41:52.846Z
                  error_code: null
                  error_message: null
    get:
      tags:
        - xPay
      description: |
        This endpoint returns the list of transactions that Regalii has processed for you.
      operationId: getAllTransactions
      parameters:
        - in: query
          name: page
          required: false
          description: 'Allows you to obtain a specific page of the transactions’ list'
          schema:
            type: integer

        - in: query
          name: 'q[created_at_gteq]'
          required: false
          description: 'Returns those transactions that were created after the timestamp provided'
          schema:
            type: array
            items:
              type: string

        - in: query
          name: 'q[created_at_lteq]'
          required: false
          description: 'Returns those transactions that were created before the timestamp provided'
          schema:
            type: array
            items:
              type: string

        - in: query
          name: 'q[biller_id_eq]'
          required: false
          description: 'Returns the transactions of a specific biller'
          schema:
            type: array
            items:
              type: string
        - in: query
          name: 'q[bill_id_eq]'
          required: false
          description: 'Query transactions using the external_id you supplied'
          schema:
            type: array
            items:
              type: string
        - in: query
          name: 'q[biller_id_in][]'
          required: false
          description: 'Returns the transactions of the billers whose ids are provided'
          schema:
            type: array
            items:
              type: integer
        - in: query
          name: 'q[bill_id_in][]'
          required: false
          description: 'Returns the transactions of the bills whose ids are provided'
          schema:
            type: array
            items:
              type: integer

        - $ref: '#/components/parameters/DateParam'

        - $ref: '#/components/parameters/ContentMD5Param'

      responses:
        '200':
          description: successful response
          content:
            application/vnd.regalii.v3.2+json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: string
                  bill_id:
                    type: string
                  account_number:
                    type: string
                  currency:
                    type: string
                  amount:
                    type: number
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  error_code:
                    type: string
                  error_message:
                    type: string
                example:
                  transactions:
                    - id: 9fe8bf62-d78b-462c-9195-14977420bbeb
                      status: initialized
                      bill_id: null
                      account_number: 12345
                      currency: USD
                      amount: 2000.0
                      created_at: 2018-04-06T14:49:12.830Z
                      updated_at: 2018-04-06T14:49:12.830Z
                      error_code: null
                      error_message: null
  /transactions/{id}:
    get:
      tags:
        - xPay
      description: |
        This endpoint returns the details of a specific transaction. If the payment was successful, you
        would see the transaction status is __linked__. If there is any problem with the payment, you
        would see the __error_code__ and __error_message__ in the transaction’s response. The possible
        values for transaction’s status are `initialized`, `pending`, `linked`, `confirmed` and
        `rejected`.

      operationId: getTransactions
      parameters:
        - in: path
          name: id
          required: true
          description: Id of the transaction
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: string
                  bill_id:
                    type: string
                  account_number:
                    type: string
                  currency:
                    type: string
                  amount:
                    type: number
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  error_code:
                    type: string
                  error_message:
                    type: string
                example:
                  id: f922316f-9b67-41e6-8e36-5438478ff35a
                  status: pending
                  bill_id: null
                  account_number: 899006982
                  currency: USD
                  amount: 15.0
                  created_at: 2018-02-16T18:34:02.234Z
                  updated_at: 2018-02-16T18:34:02.234Z
                  error_code: null
                  error_message: null
    delete:
      tags:
        - xPay
      description: |
        Deletes the transaction that corresponds to the `:id` sent. It’s only possible to delete a
        transaction if the processing of the transaction payment hasn’t started, i.e., if it’s still in
        the __initialized__ state. If you make a request to delete an already processing transaction,
        then you would get a __unprocessable_entity__ HTTP response.

      operationId: getTransactions
      parameters:
        - in: path
          name: id
          required: true
          description: Id of the transaction
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: string
                  bill_id:
                    type: string
                  account_number:
                    type: string
                  currency:
                    type: string
                  amount:
                    type: number
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  error_code:
                    type: string
                  error_message:
                    type: string
                example:
                  id: be42c413-fcce-4857-b6fa-374228e33912
                  status: initialized
                  bill_id: null
                  account_number: 1234-56
                  currency: USD
                  amount: 2000.0
                  created_at: 2018-04-06T15:41:52.846Z
                  updated_at: 2018-04-06T15:43:20.090Z
                  error_code: null
                  error_message: null
  /migrations:
    post:
      tags:
        - xChange
      description: >-
        This endpoint... to be edited.
      operationId: postMigrations

      parameters:
        - $ref: '#/components/parameters/DateParam'

        - $ref: '#/components/parameters/ContentMD5Param'

      requestBody:
        description: Within the request body the parameters sent are a $$$$$
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                biller_id:
                  type: string
                  description: The ID of the biller.
                login:
                  type: string
                  description: The username/email address/identifier credential
                password:
                  type: string
                  description: The password credential
                cc_first_name:
                  type: string
                  description: End user’s first name
                cc_last_name:
                  type: string
                  description: End user’s last name
                cc_country:
                  type: string
                  description: Country where card number was issued (two uppercase letters example US)
                cc_number:
                  type: string
                  description: Card number
                cc_brand:
                  type: string
                  description: mastercard/visa/american_express
                cc_expiry_year:
                  type: string
                  description: 4 number digit
                cc_address:
                  type: string
                  description: Street name and number
                cc_city:
                  type: string
                  description: City
                cc_state:
                  type: string
                  description: Two letter abbreviation of a US state
                cc_type:
                  type: string
                  description: credit/debit
                cc_zip:
                  type: string
                  description: Address’ zipcode
                cc_security_code:
                  type: string
                  description: Card’s security code (3 or 4 digit number)
                cc_expiry_month:
                  type: string
                  description: Card’s expiry month (2 digit number)
              required:
                - biller_id
                - login
                - password
                - cc_first_name
                - cc_last_name
                - cc_country
                - cc_number
                - cc_brand
                - cc_expiry_year
                - cc_address
                - cc_city
                - cc_state
                - cc_type
                - cc_zip
                - cc_security_code
                - cc_expiry_month

      responses:
        '200':
          description: successful response
          content:
            application/vnd.regalii.v3.2+json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  error_code: null
                  error_message: null
                  id: de2a19ff-91d1-4c45-b6c4-cb4abfaa4077
                  status: updating
                  requested_at: 2018-04-06T18:18:36.144Z
                  migrated_at: null
    get:
      tags:
        - xChange
      description: >-
        This endpoint is used to get all attempted migrations.
      operationId: getMigrations
      parameters:
        - name: page
          in: query
          description: If set, it allows you to display any page of the migrations’ list
          required: false
          schema:
            type: integer

        - $ref: '#/components/parameters/DateParam'

        - $ref: '#/components/parameters/ContentMD5Param'

      responses:
        '200':
          description: successful response
          content:
            application/vnd.regalii.v3.2+json:
              schema:
                type: object
                properties:
                  error_code:
                    type: string
                  error_message:
                    type: string
                  id:
                    type: string
                  status:
                    type: string
                  requested_at:
                    type: string
                  migrated_at:
                    type: string
                example:
                  migrations:
                    - error_code: null
                      error_message: null
                      id: de2a19ff-91d1-4c45-b6c4-cb4abfaa4077
                      status: updating
                      requested_at: 2018-04-06T18:18:36.144Z
                      migrated_at: null
                    - error_code: null
                      error_message: null
                      id: d13efe0e-d79c-4770-9a56-1487504ce4b0
                      status: updating
                      requested_at: 2018-04-06T18:16:00.033Z
                      migrated_at: null
  /migrations/id:
    get:
      tags:
        - xChange
      description: >-
        Get last migration attempt of a bill
      operationId: getMigration
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer

        - $ref: '#/components/parameters/DateParam'

        - $ref: '#/components/parameters/ContentMD5Param'

      responses:
        '200':
          description: successful response
          content:
            application/vnd.regalii.v3.2+json:
              schema:
                type: object
                properties:
                  error_code:
                    type: string
                  error_message:
                    type: string
                  id:
                    type: string
                  status:
                    type: string
                  requested_at:
                    type: string
                  migrated_at:
                    type: string
                example:
                  error_code: null
                  error_message: null
                  id: de2a19ff-91d1-4c45-b6c4-cb4abfaa4077
                  status: updating
                  requested_at: 2018-04-06T18:18:36.144Z
                  migrated_at: null
    patch:
      tags:
        - xChange
      description: >-
        pending to write
      operationId: updateMigration

      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer

        - $ref: '#/components/parameters/DateParam'

        - $ref: '#/components/parameters/ContentMD5Param'

      requestBody:
        description: Within the request body the parameters sent are a biller_id, login and password
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                login:
                  type: string
                  description: The username/email address/identifier credential
                password:
                  type: string
                  description: The password credential
                mfa_challenges[id]:
                  type: array
                  description: The id of the challenge that is being answered
                mfa_challenges[response]:
                  type: array
                  description: The response to the challenge
              required:
                - login
                - password
      responses:
        '200':
          description: successful response
          content:
            application/vnd.regalii.v3.2+json:
              schema:
                type: object
                properties:
                  error_code:
                    type: string
                  error_message:
                    type: string
                  id:
                    type: string
                  status:
                    type: string
                  requested_at:
                    type: string
                  migrated_at:
                    type: string
                example:
                  error_code: null
                  error_message: null
                  id: e17d610b-9d71-4d0b-bb40-3aa72be55378
                  status: failed
                  requested_at: '2018-04-10T17:57:03.755Z'
                  migrated_at: '2018-04-10T17:57:28.361Z'
                  message: Refresh in progress for 3 bills
components:
  parameters:
    DateParam:
      name: Date
      in: header
      description: Today's date (e.g. Wed, 11 Apr 2018 17:34:23 GMT)
      required: true
      schema:
        type: string
        format: date-time
    ContentMD5Param:
      name: Content-MD5
      in: header
      description: Content-MD5
      required: false
      schema:
        type: string

  schemas:
    Date:
      description: stdRecordStamp_PutData
      properties:
        WhenAdd:
          format: date-time
          description: WhenAdd
          pattern: '\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2}'
          type: string
