openapi: 3.0.0

info:
  version: '3.2'
  title: Regalii API Documentation
  description: |
    # Introduction

    Welcome to the Regalii API! You can use our API documentation to access
    Regalii API endpoints, which can get you information on various billers,
    bills, and transactions.

    ---

    __Tools for Testing__

    Below is a list of tools that you can use to test different endpoints and
    their responses before you start coding against them. It is recommended that
    you test a couple of endpoints first to get an idea how to properly construct
    requests in your application.

      * [Paw](https://paw.cloud/)
      * [Postman Chrome](https://www.getpostman.com/)

    # Environments

    Separate keys for each environment and `https` protocol must be used

    - __Note:__ For security reasons, the APIx doesn't support the TLS V1.0 anymore, we recommend you to use TLS v1.2 for a better security.

    ---

    __Sandbox__

    Regalii maintains a Sandbox which allows developers to test the API using mocked data.

    ---

    __Billers__

    The list of billers is not in sync with the billers in production.

    ---

    __Credentials__

    The Sandbox accepts any credentials. You can use the following special credentials when you create a Bill to force a certain response.

    - __Note:__ Do not send real credentials to the Sandbox.

    <table>
       <tr>
        <td><strong>Login</strong></td>
        <td><strong>Password</strong></td>
        <td><strong>Status</strong></td>
        <td><strong>Error Code</strong></td>
      </tr>
       <tr>
        <td>email@fetching.ii</td>
        <td>secret</td>
        <td>updating</td>
        <td></td>
      </tr>
       <tr>
        <td>email@mfa_code.ii</td>
        <td>secret</td>
        <td>waiting</td>
        <td></td>
      </tr>
       <tr>
        <td>email@mfa_question.ii</td>
        <td>secret</td>
        <td>waiting</td>
        <td></td>
      </tr>
      <tr>
        <td>email@mfa_choice.ii</td>
        <td>secret</td>
        <td>waiting</td>
        <td></td>
      </tr>
      <tr>
        <td>email@mfa_image.ii</td>
        <td>secret</td>
        <td>waiting</td>
        <td></td>
      </tr>
       <tr>
        <td>email@mfa_image_choice.ii</td>
        <td>secret</td>
        <td>waiting</td>
        <td></td>
      </tr>
      <tr>
        <td>email@successful.ii</td>
        <td>secret</td>
        <td>updated</td>
        <td></td>
      </tr>
      <tr>
        <td>email@unavailable.ii</td>
        <td>secret</td>
        <td></td>
        <td>R122</td>
      </tr>
      <tr>
        <td>email@input.ii</td>
        <td>secret</td>
        <td></td>
        <td>R121</td>
      </tr>
      <tr>
        <td>email@credentials.ii</td>
        <td>secret</td>
        <td></td>
        <td>R120</td>
      </tr>
      <tr>
        <td>email@exception.ii</td>
        <td>secret</td>
        <td></td>
        <td>R121</td>
      </tr>
       <tr>
        <td>email@timeout.ii</td>
        <td>secret</td>
        <td></td>
        <td>R121</td>
      </tr>
    </table>


    Just the @{state}.ii is the required part, email and password can be anything.

    ---

    __Multi-Factor Question__

    The questions must be answered in up to 30 seconds.

    ---

    __Production__

    Once you complete your integration contact us to receive your production keys
    and endpoint.

    # Authentication

    Regalii uses an api-key and a secret-key for authentication that we generate and will provide to you.

    Regalii expects for the api-key to be included in all API requests to the server
    in the ‘Authorization’ header combined with a checksum which we will described later on:

    __Authorization:__ `APIAuth <your-api-key>:<checksum>`

    - __Note:__ You must replace <your-api-key>:<checksum> with your personal API
    key and the calculated checksum.

    ---

    __Calculating the Checksum__

    - __Note:__ All of our official libraries calculate the checksum automatically.

    __Step 1__

      A checksum string needs to be created first by using your HTTP headers containing the `Content-Type`, `Content-MD5`, `Endpoint` and today’s `Timestamp`.

      The checksum string is computed as follows:

      checksum_string = `content-type`,`content-md5`,`endpoint`,`timestamp`

      - __Note:__ The ‘Endpoint’ is simply the URL you are sending the request to. Keep in mind that
      this value has to be exactly the same as the URL you are trying to reach. For instance, if you
      want to create a new bill by requesting a post to https://apix.casiregalii.com/bills, your
      checksum string should look like this (please also notice the timestamp format).

      `application/json,,/bills,Wed, 10 Jan 2017 16:53:15 GMT`

    __Step 2__

      The checksum string is then used to create the checksum which is a Base64 SHA1 HMAC string
      encoded using your private secret key.

    __Step 3__

      For testing, verify that if you pass “application/json,,/account,Wed, 02 Nov 2016 17:26:52 GMT” to your checksum function and use “verify-secret” as secret key, it should return “nLet/JEZG9CRXHScwaQ/na4vsKQ=”

      Checksum verification [example](https://gist.github.com/dagosi/c2e7db228a9c15e2f5bcdccd7a056183).

      How to create a checksum in [Bash](https://gist.github.com/dagosi/d85979e364af745750a9dff8c8c5a949)

    ---

    __How to use the Checksum__

      Now that you have a checksum, you can add it to your headers using the `Authorization` header as we previously mentioned. As an example, let’s assume that your api-key is `f0253d2a6a76ed12499e7878d7803ffb` and that your checksum is `nLet/JEZG9CRXHScwaQ/na4vsKQ=`. Now, you can add this header to your request.

      `-H Authorization: APIAuth f0253d2a6a76ed12499e7878d7803ffb:nLet/JEZG9CRXHScwaQ/na4vsKQ=`

      You will see that we will use this format in our Authorization header through this documentation.

servers:
  - url: https://apix.casiregalii.com
    description: Sandbox, Mocked Credentials; Mocked Data
  - url: https://apix.regalii.com
    description: Production, Real Credentials; Real Data

tags:
  - name: Webhooks
    description: Detailed information about our Webhooks
  - name: Common
    description: Common endpoints
  - name: xData
    description: Access to xData documentation
  - name: xPay
    description: Access to xPay documentation
  - name: xChange
    description: Access to xChange documentation

paths:
  /account:
    get:
      tags:
        - Common
      summary: Returns the properties of your Regalii account.
      operationId: getAccount
      description: |
        Returns the properties of your Regalii account. This includes the name of your company,
        the current balance you owe, and the maximum amount of credit allowed to your account
        in the currency specified.

      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  balance:
                    type: number
                  minimum_balance:
                    type: number
                  currency:
                    type: string
                example:
                  name: ACME Company
                  balance: 537.5
                  minimum_balance: -30000
                  currency: USD
  /billers:
    get:
      tags:
        - Common
      summary: Provides the current list of billers and their associated properties.
      operationId: getBillersCredentials
      description: |
        Provides the current list of billers and their associated properties.
        To ensure that your customers are able to leverage the enhancements that we make
        over time, you are required to cache the full list of billers and update it on a weekly basis.
      parameters:
        - in: query
          name: page
          description: If set, it allows you to display any page of billers
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: array
                title: "billers"
                properties:
                  type:
                    type: string
                    description: A value of "biller
                  id:
                    type: integer
                    description: Unique identifier of the biller in the Regalii system
                  uuid:
                    type: string
                    description: Unique identifier of the biller in the Regalii system
                  name:
                    type: string
                    description: Utility Biller’s name
                  country:
                    type: string
                    description: Utility Biller’s ISO 2 digit country code
                  currency:
                    type: string
                    description: The 3 digit ISO currency code of the utility biller’s country.
                  biller_type:
                    type: string
                    description: Specifies the utility type of the bill being paid. For example Electricity, Landline, or Cell.
                  bill_type:
                    type: string
                    description: Specifies the bill identifier that is used to perform consults and payments.
                  required_parameters:
                    type: array
                    description: List of parameters required to add a bill with this biller
                    items:
                      type: string
                  returned_parameters:
                    type: array
                    description: List of returned parameters by this biller
                    items:
                      type: string
                  can_migrate:
                    type: boolean
                  charge_user:
                    type: boolean
                  has_xdata:
                    type: boolean
                example:
                  type: "biller"
                  id: 6510
                  uuid: "3bc572a9-cb55-4aea-80aa-40b058d26673"
                  name: "Con Edison"
                  country: "US"
                  currency: "USD"
                  biller_type: "Electricity"
                  bill_type: "credentials"
                  required_parameters: ["login","password"]
                  returned_parameters: ["balance","due_date","account_number","name_on_account","xdata"]
                  can_migrate: false
                  charge_user: true
                  has_xdata: false
  /bills:
    post:
      tags:
        - xData
      summary: creates a bill for billers with credentials bill identifier
        identifier
      operationId: createBills
      description: |
        This endpoint creates a bill for billers with credentials bill identifier. When you send
        credentials to create a bill, the bill object is created and we then attempt to fetch the bill
        from the biller. Thus no matter what happens (MFA, wrong credentials, biller down, etc), the bill
        object is created. The request may take up to 59 seconds to return. If an error or MFA is
        returned, update the bill to resolve the issue.

        You may create multiple, discrete bill objects with identical credentials.
      requestBody:
        description: Within the request body the parameters sent are a biller_id, login and password
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                biller_id:
                  type: integer
                  description: The ID of the biller.
                login:
                  type: string
                  description: The account login.
                password:
                  type: string
                  description: The account password
              required:
                - biller_id
                - login
                - password
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: pending explain...
                  id:
                    type: integer
                    description: pending explain...
                  uuid:
                    type: string
                    description: pending explain...
                  biller_id:
                    type: integer
                    description: pending explain...
                  biller_uuid:
                    type: string
                    description: pending explain...
                  account_number:
                    type: string
                    description: pending explain...
                  name_on_account:
                    type: string
                    description: pending explain...
                  due_date:
                    type: string
                    description: pending explain...
                  balance:
                    type: number
                    description: pending explain...
                  balance_currency:
                    type: string
                    description: pending explain...
                  balance_updated_at:
                    type: string
                    description: pending explain...
                  error_code:
                    type: string
                    description: pending explain...
                  error_message:
                    type: string
                    description: pending explain...
                  status:
                    type: string
                    description: pending explain...
                  mfa_challenges:
                    description: pending explain...
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: integer
                        prompt:
                          type: string
                        expires_at:
                          type: string
                example:
                  type: bill
                  id: 1512
                  uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                  biller_id: 6510
                  biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                  account_number: '4222422244'
                  name_on_account: Jose Bautista
                  due_date: '2016-11-30'
                  balance: 56.43
                  balance_currency: USD
                  balance_updated_at: '2017-01-16T20:12:58Z'
                  error_code: null
                  error_message: null
                  status: updated
                  mfa_challenges: []
    get:
      tags:
        - xData
      summary: This endpoint retrieves all the bills.
      operationId: getBills
      description: |
        This endpoint retrieves all the bills
      parameters:
        - in: query
          name: page
          description: It allows you to display any page of bills.
          schema:
            type: integer
        - in: query
          name: 'q[created_at_gteq]'
          schema:
            type: array
            items:
              type: string
          description: It'll return results __after__ the specified timestamp.
        - in: query
          name: 'q[created_at_lteq]'
          description: It'll return results __before__ the specified timestamp
          schema:
            type: string
            items:
              type: string
        - in: query
          name: 'q[id_in]'
          description: It'll return the bills for the specified bill ids
          schema:
            type: string
            items:
              type: string
              items:
                type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                properties:
                  type:
                    description: pending explain...
                    type: string
                  id:
                    description: pending explain...
                    type: integer
                  uuid:
                    description: Unique identifier of the biller in the Regalii system
                    type: string
                  biller_id:
                    description: pending explain...
                    type: integer
                  biller_uuid:
                    description: pending explain...
                    type: string
                  account_number:
                    description: pending explain...
                    type: string
                  name_on_account:
                    description: pending explain...
                    type: string
                  due_date:
                    description: pending explain...
                    type: string
                  balance:
                    description: pending explain...
                    type: number
                  balance_currency:
                    description: pending explain...
                    type: string
                  balance_updated_at:
                    description: pending explain...
                    type: string
                  error_code:
                    description: pending explain...
                    type: string
                  error_message:
                    description: pending explain...
                    type: string
                  status:
                    description: pending explain...
                    type: string
                  migrated_at:
                    description: pending explain...
                    type: string
                  mfa_challenges:
                    description: pending explain...
                    type: array
                example:
                  bills:
                    - type: bill
                      id: 674124
                      uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                      biller_id: 6510
                      biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                      account_number: 87249256"
                      name_on_account: Rita Sporer
                      due_date: '2017-01-29T05:00:00Z'
                      balance: 62.38
                      balance_currency: USD
                      balance_updated_at: '2017-01-17T19:57:56Z'
                      error_code: null
                      error_message: null
                      status: linked
                      migrated_at: null
                      mfa_challenges: []
                    - type: bill
                      id: 674125
                      uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                      biller_id: 1
                      biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                      account_number: '1234567'
                      name_on_account: Jose Bautista
                      due_date": null
                      balance": 400
                      balance_currency: RD
                      balance_updated_at: '2017-01-17T21:47:19Z'
                      error_code: null
                      error_message: null
                      status: linked
                      migrated_at: null
                      mfa_challenges: []
  /bills/{id}:
    post:
      tags:
        - xData
      summary: retrieves a specific bill’s cached data.
      operationId: getBill
      description: |
        This endpoint retrieves a specific bill’s cached data. To pull fresh data from a biller see <a href='#/bills/{id}/refresh:'>refresh bill.</a>
      parameters:
        - name: id
          in: path
          description: ID of the bill
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    description: bill value
                    type: string
                  id:
                    description: The id of the Bill
                    type: integer
                  uuid:
                    description: Unique identifier of the biller in the Regalii system
                    type: string
                  biller_id:
                    description: The id of the Biller
                    type: integer
                  biller_uuid:
                    description: Unique identifier of the biller
                    type: string
                  account_number:
                    description: Your account in the Biller's site
                    type: string
                  name_on_account:
                    description: The name of your account
                    type: string
                  due_date:
                    description: The payment due date
                    type: string
                  balance:
                    description: The balance in your account
                    type: number
                  balance_currency:
                    description: The currency used in your account
                    type: string
                  balance_updated_at:
                    description: The date when your balance was updated
                    type: string
                  error_code:
                    description: If your bill has an error, a [code] (#errors) is going to be displayed
                    type: string
                  error_message:
                    description: The description of the error
                    type: string
                  status:
                    description: The status of your bill, it can be `updating`, `failed`, `waiting`, `updated`.
                    type: string
                  mfa_challenges:
                    description: Challenges requested by the Biller. Refero to [handing MFA] (#handling-multi-factor-authentication)
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: integer
                        prompt:
                          type: string
                        expires_at:
                          type: string
                  address:
                    type: object
                    items:
                      type: object
                      properties:
                        street:
                          type: string
                          description: Name of the street
                        city:
                          type: integer
                          description: Name of the city
                        state:
                          type: string
                          description: Name of the state
                        zip:
                          type: string
                          description: ZipCode
                        country:
                          type: string
                          description: Name of the Country
                  payment_method:
                    type: object
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: Type of the payment, it can be `Credit`
                        identifier:
                          type: integer
                          description: Issuer bank - last 4 digits of the card
                        autopay:
                          type: boolean
                          description: If the bill if pay automatically
                  statements:
                    type: object
                    items:
                      type: object
                      properties:
                        amount:
                          type: number
                          description: Amount of the statement
                        period_start_date:
                          type: string
                          description: Start date of the period
                        period_end_date:
                          type: string
                          description: End date of the period
                  payments:
                    type: object
                    items:
                      type: object
                      properties:
                        amount:
                          type: number
                          description: Amount of the payment
                        confirmation:
                          type: string
                          description: Confirmation number
                        date:
                          type: string
                          description: Date of the payment
                        method:
                          type: string
                          description: Payment method used
                        source:
                          type: string
                          description: Card used
                  subordinates:
                    description: Extradata depending on the Biller
                    type: object
                    items:
                      type: object
                      properties:
                        number:
                          type: number
                        name:
                          type: string
                        device:
                          type: object
                          items:
                            type: object
                            properties:
                              contract_start_date:
                                type: string
                              contract_end_date:
                                type: string
                  plan:
                    type: object
                    items:
                      type: object
                      properties:
                        amount:
                          type: number
                  usage:
                    description: Extradata depending on the Biller
                    type: object
                    items:
                      type: object
                      properties:
                        data_available:
                          type: integer
                        data_used:
                          type: integer
                        minutes_available:
                          type: integer
                        minutes_used:
                          type: integer
                        sms_available:
                          type: integer
                        sms_used:
                          type: integer
                example:
                  type: bill
                  id: 674117
                  uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                  biller_id: 6510
                  biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                  account_number: '4222422244'
                  name_on_account: Jose Bautista
                  due_date: '2016-11-30'
                  balance: 56.43
                  balance_currency: USD
                  balance_updated_at: '2017-01-16T20:12:58Z'
                  error_code: null
                  error_message: null
                  status: linked
                  mfa_challenges: []
                  address:  {
                    street: "2651 Some St West, Unit 1A",
                    city: "New York",
                    state: "NY",
                    zip: "10001",
                    country: "US"
                  }
                  payment_method: {
                    type: "Credit",
                    identifier: "Visa - 1234",
                    autopay: true
                  }
                  statements: [
                    {
                      "amount": 228.82,
                      "period_start_date": "2016-08-07",
                      "period_end_date": "2016-09-06"
                    }
                  ]
                  payments: [
                    {
                    amount: 1.11,
                    confirmation: "ABCD12345",
                    date: "2016-09-29",
                    method: "CreditCard",
                    source: "Visa - 1234"
                    }
                  ]
                  subordinates: [
                    {
                      number: "1112223333",
                      name: "John Doe",
                      device: {
                        name: "Nexus 5",
                        contract_start_date: "2015-01-01",
                        contract_end_date: "2017-01-01"
                    },
                    plan: {
                      name: "Plan60"
                    },
                    usage: {
                      data_available: 6000,
                      data_used: 560,
                      minutes_available: -1,
                      minutes_used: 107,
                      sms_available: -1,
                      sms_used: 202
                    }
                  }
                ]
    patch:
      tags:
        - xData
      description: Updates a specific bill, either to answer an MFA challenge or to correct an error.
      operationId: updateBill
      summary: Updates a specific bill, either to answer an MFA challenge or to correct an error.
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer
      requestBody:
        description: Within the request body, the parameters to send are the `login`, `password`, `mfa_challenges[id]` and `mfa_challenges[response]`.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                login:
                  type: string
                  description: The account login.
                password:
                  type: string
                  description: The account password
                mfa_challenges[id]:
                  type: string
                  description: The id of the challenge that is being answered
                mfa_challenges[response]:
                  type: string
                  description: The response to the challenge
              required:
                - login
                - password
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    description: bill value
                    type: string
                  id:
                    description: The id of the Bill
                    type: integer
                  uuid:
                    description: Unique identifier of the biller in the Regalii system
                    type: string
                  biller_id:
                    description: The id of the Biller
                    type: integer
                  biller_uuid:
                    description: Unique identifier of the biller
                    type: string
                  account_number:
                    description: Your account in the Biller's site
                    type: string
                  name_on_account:
                    description: The name of your account
                    type: string
                  due_date:
                    description: The payment due date
                    type: string
                  balance:
                    description: The balance in your account
                    type: number
                  balance_currency:
                    description: The currency used in your account
                    type: string
                  balance_updated_at:
                    description: The date when your balance was updated
                    type: string
                  error_code:
                    description: If your bill has an error, a [code] (#errors) is going to be displayed
                    type: string
                  error_message:
                    description: The description of the error
                    type: string
                  status:
                    description: The status of your bill, it can be `updating`, `failed`, `waiting`, `updated`.
                    type: string
                  mfa_challenges:
                    description: Challenges requested by the Biller. Refero to [handing MFA] (#handling-multi-factor-authentication)
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: integer
                        prompt:
                          type: string
                        expires_at:
                          type: string
                example:
                  type: bill
                  id: 674117
                  uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                  biller_id: 6510
                  biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                  account_number: '4222422244'
                  name_on_account: Jose Bautista
                  due_date: '2016-11-30'
                  balance: 56.43
                  balance_currency: USD
                  balance_updated_at: '2017-01-16T20:12:58Z'
                  error_code: null
                  error_message: null
                  status: linked
                  mfa_challenges: []
    delete:
      tags:
        - xData
      description: This endpoint deletes a specific bill.
      operationId: deleteBill
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    description: bill value
                    type: string
                  id:
                    description: The id of the Bill
                    type: integer
                  uuid:
                    description: Unique identifier of the biller in the Regalii system
                    type: string
                  biller_id:
                    description: The id of the Biller
                    type: integer
                  biller_uuid:
                    description: Unique identifier of the biller
                    type: string
                  account_number:
                    description: Your account in the Biller's site
                    type: string
                  name_on_account:
                    description: The name of your account
                    type: string
                  due_date:
                    description: The payment due date
                    type: string
                  balance:
                    description: The balance in your account
                    type: number
                  balance_currency:
                    description: The currency used in your account
                    type: string
                  balance_updated_at:
                    description: The date when your balance was updated
                    type: string
                  error_code:
                    description: If your bill has an error, a [code] (#errors) is going to be displayed
                    type: string
                  error_message:
                    description: The description of the error
                    type: string
                  status:
                    description: The status of your bill, it can be `updating`, `failed`, `waiting`, `updated`.
                    type: string
                  mfa_challenges:
                    description: Challenges requested by the Biller. Refero to [handing MFA] (#handling-multi-factor-authentication)
                    type: array
                    items:
                      type: object
                example:
                  type: bill
                  id: 674117
                  uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                  biller_id: 6510
                  biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                  account_number: '4222422244'
                  name_on_account: Jose Bautista
                  due_date: '2016-11-30'
                  balance: 56.43
                  balance_currency: USD
                  balance_updated_at: '2017-01-16T20:12:58Z'
                  error_code: null
                  error_message: null
                  status: linked
                  mfa_challenges: []
  /bills/{id}/refresh:
    post:
      tags:
        - xData
      description: |
        This endpoint refreshes a specific bill by polling the biller. It
        responds with the same structure as <a href='#/bills/{id}/refresh:'>create bill</a>.
      operationId: refreshBill
      parameters:
        - name: id
          in: path
          description: The ID of the bill
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    description: bill value
                    type: string
                  id:
                    description: The id of the Bill
                    type: integer
                  uuid:
                    description: Unique identifier of the biller in the Regalii system
                    type: string
                  biller_id:
                    description: The id of the Biller
                    type: integer
                  biller_uuid:
                    description: Unique identifier of the biller
                    type: string
                  account_number:
                    description: Your account in the Biller's site
                    type: string
                  name_on_account:
                    description: The name of your account
                    type: string
                  due_date:
                    description: The payment due date
                    type: string
                  balance:
                    description: The balance in your account
                    type: number
                  balance_currency:
                    description: The currency used in your account
                    type: string
                  balance_updated_at:
                    description: The date when your balance was updated
                    type: string
                  error_code:
                    description: If your bill has an error, a [code] (#errors) is going to be displayed
                    type: string
                  error_message:
                    description: The description of the error
                    type: string
                  status:
                    description: The status of your bill, it can be `updating`, `failed`, `waiting`, `updated`.
                    type: string
                  mfa_challenges:
                    description: Challenges requested by the Biller. Refero to [handing MFA] (#handling-multi-factor-authentication)
                    type: array
                    items:
                      type: object
                example:
                  type: bill
                  id: 674117
                  uuid: c5482bbe-0f46-4e30-b660-3b1bb0ea773f
                  biller_id: 6510
                  biller_uuid: b44f5c1c-a6b7-4688-8311-080512ca4f1e
                  account_number: '4222422244'
                  name_on_account: Jose Bautista
                  due_date: '2016-11-30'
                  balance: 56.43
                  balance_currency: USD
                  balance_updated_at: '2017-01-16T20:12:58Z'
                  error_code: null
                  error_message: null
                  status: linked
                  mfa_challenges: []
  /bills/bulk_refresh:
    post:
      tags:
        - xData
      description: |
        This endpoint receives an array of bill ids as a parameter and refreshes them. Updated bills can be eventually pulled by passing id_in to the <a href='#/bills/{id}/refresh:'>list bills</a> endpoint.
      operationId: bulk_refreshBill
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Refresh in progress for 3 bills
  /rpps_billers:
    get:
      tags:
        - xPay
      description: >-
        Get RPPS billers.
      operationId: getRppsBillers
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Refresh in progress for 3 bills
  /transactions:
    post:
      tags:
        - xPay
      description: >-
        Create transaction (Pays a bill).
      operationId: postTransactions
      parameters:
        - in: query
          name: id
          required: true
          description: 'The ID of the bill'
          schema:
            type: integer
        - in: query
          name: amount
          required: true
          description: 'Amount to pay'
          schema:
            type: number
        - in: query
          name: currency
          required: true
          description: 'Amount currency'
          schema:
            type: string
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  amount:
                    type: number
                  amount_currency:
                    type: string
                  fx_rate:
                    type: number
                  amount_usd:
                    type: number
                  transaction_fee:
                    type: number
                  total_usd:
                    type: number
                  hours_to_fulfill:
                    type: integer
                  status:
                    type: string
                example:
                  type: "transaction"
                  id: 59335549
                  amount: 5568.00
                  amount_currency: "MXN"
                  fx_rate: 18.2569
                  amount_usd: 304.98
                  transaction_fee: 3.0
                  total_usd: 307.98
                  hours_to_fulfill: 48
                  status: "fulfilled"
    get:
      tags:
        - xPay
      description: >-
        Returns a list of bill payments that Regalii has processed for you,  in a page of 100 results. You may provide various search criteria, including id and timestamp.
      operationId: getTransactions
      parameters:
        - in: query
          name: page
          required: false
          description: 'If set, it allows you to display any page of bills'
          schema:
            type: integer
        - in: query
          name: 'q[created_at_gteq]'
          required: false
          description: 'If set, it’ll return results after the specified timestamp.'
          schema:
            type: array
            items:
              type: string
        - in: query
          name: 'q[created_at_lteq]'
          required: false
          description: 'If set, it’ll return results before the specified timestamp.'
          schema:
            type: array
            items:
              type: string
        - in: query
          name: 'q[id_eq]'
          required: false
          description: 'Query transactions using the id'
          schema:
            type: array
            items:
              type: integer
        - in: query
          name: 'q[external_id_eq]'
          required: false
          description: 'Query transactions using the external_id you supplied'
          schema:
            type: array
            items:
              type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Refresh in progress for 3 bills
  /migrations:
    post:
      tags:
        - xChange
      description: >-
        This endpoint... to be edited.
      operationId: postMigrations
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Refresh in progress for 3 bills
    get:
      tags:
        - xChange
      description: >-
        This endpoint is used to get all attempted migrations.
      operationId: getMigrations
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Refresh in progress for 3 bills

  /migrations/id:
    get:
      tags:
        - xChange
      description: >-
        Get last migration attempt of a bill
      operationId: getMigration
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Refresh in progress for 3 bills
    patch:
      tags:
        - xChange
      description: >-
        pending to write
      operationId: updateMigration
      parameters:
        - name: id
          in: path
          description: ID of bill to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                example:
                  message: Refresh in progress for 3 bills
